@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin background-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

@mixin transition($input...) {
  transition: $input $delay;
  -moz-transition: $input $delay;
  -o-transition: $input $delay;
  -webkit-transition: $input $delay;
}

$main_color: #37BC9B;
$border_grey: #E7E7E7;
$delay: .15s;

@import "partials/_side-navigation";
@import "partials/_top-navigation";
@import "pages/_workout";
@import "pages/_location";

body {
  background-color: #E0E0E0;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
}

.form-control:focus {
  border-color: $main_color;
}

.well, .panel, .jumbotron {
  border-color: #d2d2d2;
  box-shadow: 0 1px 0 #cfcfcf;
  border-radius: 4px;
}

.clear-float {
  clear: both;
}

.content {
  padding-top: 10px;

  .btn-toolbar {
    margin-bottom: 20px;

    .btn {
      font-size: 17px;
      height: 30px;
      padding: 6px 25px;
    }
  }
}

.no-margin {
  margin: 0 !important;
}

hr {
  border-bottom: 1px solid $main_color;
}

.ui-view-container {
  position: relative;
}

[ui-view].ng-enter{
  position: absolute;
  left: 15px;
  right: 15px;
  @include transition(opacity);
}

[ui-view].ng-enter, [ui-view].ng-leave-active {
  opacity: 0;
}

[ui-view].ng-enter-active, [ui-view].ng-leave {
  opacity: 1;
}