@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin background-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

$main_color: #37BC9B;
$border_grey: #E7E7E7;

@import "partials/_side-navigation";
@import "partials/_top-navigation";
@import "pages/_workout";

.clear-float {
  clear: both;
}

.content {
  padding-top: 10px;

  .btn-toolbar {
    margin-bottom: 20px;

    .btn {
      font-size: 17px;
      height: 30px;
      padding: 6px 25px;
    }
  }
}

.no-margin {
  margin: 0 !important;
}