.side-navigation {
  margin-left: -15px; }
  .side-navigation .nav-stacked > li + li {
    margin: 0px; }
  .side-navigation .well {
    padding: 10px 0px 0px 0px;
    background-color: #f9f9f9;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; }
  .side-navigation .nav-header {
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: bold;
    color: #434A54; }
  .side-navigation .nav-pills > li > a {
    border-radius: 0px;
    color: #656D78; }
  .side-navigation .nav-pills > li i {
    width: 20px;
    color: #999DA3; }
  .side-navigation .nav-pills > li.active > a {
    color: #434A54;
    border-right: 5px solid #7fdac3;
    background-color: inherit; }
  .side-navigation .nav-pills > li:not(.active) > a:hover {
    border-right: 5px solid #a7e5d6;
    background-color: inherit;
    color: #434A54; }
  .side-navigation .username {
    background-color: #CCD1D9;
    height: 40px;
    line-height: 30px;
    padding: 5px 15px;
    font-size: 20px;
    font-weight: 600; }
    .side-navigation .username .fa-cog {
      padding: 5px 0px; }

.side-navigation .profile-info .profile-picture {
  padding: 10px 10px; }

.side-navigation .profile-info .user-stats {
  width: 120px;
  padding: 10px 0px;
  font-weight: 500; }

.side-navigation .profile-info .user-stats p {
  font-size: 20px;
  margin: 10px 0px;
  font-weight: 700; }

.top-navigation.navbar {
  background-color: #37BC9B;
  border: 0px;
  border-bottom: 1px solid #2b957a;
  border-radius: 0px;
  margin-bottom: 0px; }
  .top-navigation.navbar .navbar-nav > .active > a {
    background-color: #31a88b; }
  .top-navigation.navbar .navbar-nav > .open > a, .top-navigation.navbar .navbar-default .navbar-nav > .open > a:focus, .top-navigation.navbar .navbar-default .navbar-nav > .open > a:hover {
    background-color: #2b957a; }

.workout-legend {
  font-size: 13px; }
  .workout-legend .fa {
    color: #37BC9B;
    width: 15px;
    text-align: center;
    padding-top: 4px; }

.workout-container {
  padding: 10px; }
  .workout-container .workout-inner {
    display: block;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 1px solid #E0E0E0;
    border-left: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7; }
    .workout-container .workout-inner .workout-item {
      background-color: #FAFAFA;
      color: #434a54;
      padding: 10px;
      display: block;
      overflow: hidden;
      height: 100px; }
      .workout-container .workout-inner .workout-item:hover {
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        cursor: pointer; }
    .workout-container .workout-inner .date {
      font-size: 23px; }
    .workout-container .workout-inner .head {
      font-weight: 600; }
    .workout-container .workout-inner .info .fa {
      color: #37BC9B;
      width: 25px;
      text-align: center;
      margin: 2px 5px 0px 0px;
      font-size: 17px; }
    .workout-container .workout-inner table td {
      vertical-align: top;
      padding: 2px 0;
      font-size: 14px; }
  .workout-container .workout-inner:hover .workout-overlay {
    display: block;
    pointer-events: none; }
  .workout-container .workout-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px; }
    .workout-container .workout-overlay .workout-overlay-background {
      background: #e2e6e6;
      /* The Fallback */
      background: rgba(226, 230, 230, 0.5);
      height: 100%;
      width: 100%;
      border-radius: 4px; }
      .workout-container .workout-overlay .workout-overlay-background:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle; }
    .workout-container .workout-overlay .fa {
      display: inline-block;
      vertical-align: middle;
      font-size: 38px;
      color: #fff;
      margin-top: -28px; }
  .workout-container .workout-social {
    font-size: 13px;
    background-color: #e2e6e6;
    overflow: hidden;
    padding: 5px 10px;
    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7; }
    .workout-container .workout-social a {
      color: #434a54;
      margin-right: 15px; }
      .workout-container .workout-social a .fa {
        color: #fff;
        font-size: 16px;
        padding: 0px 3px;
        position: relative;
        top: 1px; }
      .workout-container .workout-social a .fa-heart {
        color: #ff878d; }
      .workout-container .workout-social a .fa-comment {
        color: #ABB7B7; }

.clear-float {
  clear: both; }

.content {
  padding-top: 10px; }

.no-margin {
  margin: 0 !important; }

/*# sourceMappingURL=template.css.map */
