.top-navigation.navbar {
  background-color: $main_color;
  border: 0px;
  border-bottom: 1px solid darken($main_color, 10);
  border-radius: 0px;
  margin-bottom: 0px;

  .navbar-nav > .active > a {
    background-color: darken($main_color, 5);
  }

  .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: darken($main_color, 10);
  }
}

.top-navigation {
  .nav {
    li {
      > a {
        padding: 12px 20px;
        -webkit-transition:background-color $delay, color $delay;
        -moz-transition:background-color $delay, color $delay;
        -o-transition:background-color $delay, color $delay;
        transition:background-color $delay, color $delay;
      }
      font-size: 25px;

      &:not(.active):hover a{
        color: lighten($main_color, 40)!important;
      }
    }
  }
}
