$triangle_size: 6px;

.top-navigation.navbar {
  background-color: $main_color;
  border: 0px;
  border-bottom: 1px solid darken($main_color, 10);
  border-radius: 0px;
  margin-bottom: 0px;

  .row .col-md-2 {
    .hide-profile i {
      cursor: pointer;
      padding: 0px 10px;
      font-size: 20px;
      line-height: 48px;
    }
    margin-left: -15px;
  }

  .navbar-nav > .active {
    .triangle {
      opacity: 1;
    }

    > a {
      background-color: darken($main_color, 5);
    }
  }

  .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: darken($main_color, 10);
  }
}

.top-navigation {
  .nav {
    li {
      > a {
        padding: 12px 20px;
        @include transition(background-color, color);
        text-align: center;

        .triangle {
          opacity: 0;
          width: 0;
          height: 0;
          border-left: $triangle_size solid transparent;
          border-right: $triangle_size solid transparent;
          border-bottom: $triangle_size solid darken($main_color, 10);
          position: absolute;
          top: 43px;
          margin-left: 5px;
          @include transition(opacity);
        }
      }
      font-size: 25px;

      &:not(.active):hover a {
        color: lighten($main_color, 40) !important;
      }
    }
  }
}