$triangle_size: 6px;

.top-navigation.navbar {
  background-color: $main_color;
  border: 0px;
  border-bottom: 1px solid darken($main_color, 10);
  border-radius: 0px;
  margin-bottom: 0px;

  .hide-profile {
    @include transition(margin-left);
    width: 20px;
    text-align: center;
    cursor: pointer;
    color: lighten($main_color, 40);

    &.right {
      margin-left: calc(100% - 29px);
    }

    &.left {
      margin-left: 10px;
    }
  }

  .row .col-md-2 {
    .hide-profile i {
      font-size: 20px;
      line-height: 48px;
    }
    margin-left: -15px;
  }

  .navbar-nav > .active {
    .triangle {
      opacity: 1;
    }

    > a {
      background-color: darken($main_color, 5);
    }
  }

  .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: darken($main_color, 10);
  }
}

.top-navigation {
  .nav {
    li {
      > a {
        padding: 12px 20px;
        @include transition(background-color, color);
        text-align: center;
      }
      font-size: 25px;

      &:not(.active):hover a {
        color: lighten($main_color, 40) !important;
      }
    }
  }
}