<h2 class="col-md-offset-2">Profiel</h2>
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-md-2 control-label">Naam</label>
        <div class="control col-md-4">
            <input name="username" type="text" class="form-control" placeholder="Naam">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Gebruikersnaam</label>
        <div class="control col-md-4">
            <input name="username" type="text" class="form-control" placeholder="Gebruikersnaam">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">E-mail adres</label>
        <div class="control col-md-4">
            <input name="username" type="text" class="form-control" placeholder="E-mail adres">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Woonplaats</label>
        <div class="control col-md-4">
            <input name="username" type="text" class="form-control" placeholder="Woonplaats">
        </div>
    </div>
</div>