<div class="btn-toolbar">
    <div class="btn-group">
        <a ui-sref="workouts" class="btn"><i class="fa fa-reply"></i></a>
    </div>
    <div class="btn-group">
        <a class="btn btn-info"><i class="fa fa-download"></i></a>
        <a class="btn btn-info"><i class="fa fa-star"></i></a>
        <a class="btn btn-info"><i class="fa fa-trash"></i></a>
    </div>
    <div class="btn-group">
        <a class="btn"><i class="fa fa-pencil"></i></a>
    </div>
</div>

<div class="row">
    <div class="col-md-7 workout">
        <div class="panel">
            <div class="panel-header">
                <h3>Workout naam <i class="fa fa-share-alt pull-right"></i></h3>
                <small>Aangemaakt op: 13 november 2014</small>
            </div>
            <div class="panel-body">
                Lorem hodor...
            </div>
        </div>
    </div>
</div>

<div class="exercises">
    <div class="col-md-7">
        <div class="row exercise" ng-repeat="exercise in workout.exercises">
            <div class="col-md-12">
                <div class="jumbotron">
                    <div class="jumbotron-header">
                        <div class="col-md-1">
                            <h3 class="number">{{ $index+1 }}</h3>

                            <h3 class="video"><a href="#"><i class="fa fa-video-camera"></i></a></h3>
                        </div>
                        <div class="info col-md-6">
                            <h2>{{exercise.title}}</h2>
                            <span class="label" ng-repeat="tag in exercise.tags">{{tag}}</span>
                        </div>
                        <div class="photos col-md-5">
                            <img class="before" ng-src="{{exercise.img_before}}">
                            <img class="after" ng-src="{{exercise.img_after}}">
                        </div>
                    </div>
                    <div class="row sets">
                        <div class="col-md-2">
                            <div class="reps">15
                                <small>her</small>
                            </div>
                            <div class="multiplier">x</div>
                            <div class="weight">30
                                <small>kg</small>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="reps">15
                                <small>her</small>
                            </div>
                            <div class="multiplier">x</div>
                            <div class="weight">30
                                <small>kg</small>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="reps">15
                                <small>her</small>
                            </div>
                            <div class="multiplier">x</div>
                            <div class="weight">30
                                <small>kg</small>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="reps">15
                                <small>her</small>
                            </div>
                            <div class="multiplier">x</div>
                            <div class="weight">30
                                <small>kg</small>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="reps">15
                                <small>her</small>
                            </div>
                            <div class="multiplier">x</div>
                            <div class="weight">30
                                <small>kg</small>
                            </div>
                        </div>
                        <!--<div class="BBCOMVideoEmbed" data-video-id="104000/104902" data-thumbnail-url="http://videos.bodybuilding.com/thumb/104000/104902.jpg" data-dimensions="320x257"><embed src="http://videos.bodybuilding.com/player.swf" wmode="transparent" width="320" height="257" allowscriptaccess="always" allowfullscreen="true" flashvars="height=257&amp;width=320&amp;file=http://videocdn.bodybuilding.com/video/mp4/104000/104902m.mp4&amp;image=http://videos.bodybuilding.com/thumb/104000/104902.jpg&amp;displayheight=257&amp;searchbar=false" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash"></div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
