<div class="row">
    <!--<button type="button" class="btn btn-info">Toevoegen <i class="fa fa-plus"></i></button>-->
</div>
<div class="row">
    <div ng-repeat="workout in workouts" class="col-md-4 workout-container">
        <a href="#" class="workout-item">
            <div class="workout-inner">
                <div class="col-md-2 date text-center">
                    23<br>jul
                </div>
                <div class="col-md-5 info">
                    <i class="fa flaticon-dumbbell"></i> {{workout.exercises}} <br>
                    <i class="fa fa-refresh"></i> {{workout.sets}} <br>
                    <i class="fa fa-map-marker"></i> {{workout.gym}}
                </div>
                <div class="col-md-5 musclegroups">
                    <div class="head"><i class="fa fa-bars"></i> Spieren beoefend:</div>
                    {{workout.muscles_used}}
                </div>
            </div>
            <div class="col-md-12 workout-social">
                <i class="fa fa-thumbs-up"></i> {{workout.likes}} &nbsp; &nbsp; <i class="fa fa-comment"></i> 2
            </div>
        </a>

        <div class="workout-overlay text-center">
            <i class="fa fa-sign-in"></i>
        </div>
    </div>
</div>