<div class="row">
    <!--<button type="button" class="btn btn-info">Toevoegen <i class="fa fa-plus"></i></button>-->
</div>
<div class="row">
    <script></script>
    <div ng-repeat="workout in workouts" class="col-md-4 workout-container">
        <div class="workout-inner">
            <div class="col-md-2 date text-center">
                23<br>jul
            </div>
            <div class="col-md-5 info">
                Oefeningen: 4 <br>
                <i class="fa fa-refresh"></i> 20 <br>
                <i class="fa fa-map-marker"></i> Fit for Free Den Haag
            </div>
            <div class="col-md-5 musclegroups">
                <div class="head"><i class="fa fa-bars"></i> Spieren beoefend:</div>
                Buikspieren, Borst, Rug
            </div>
        </div>
        <div class="col-md-12 workout-social">
            <i class="fa fa-thumbs-up"></i> 5 &nbsp; &nbsp; <i class="fa fa-comment"></i> 2
        </div>
    </div>
</div>