<div class="row">
    <div class="col-md-12 workout-legend">
        <!--<button type="button" class="btn btn-info">Toevoegen <i class="fa fa-plus"></i></button>-->
        <i class="fa flaticon-dumbbell"></i> Aantal oefeningen &nbsp;
        <i class="fa fa-refresh"></i> Aantal sets &nbsp;
        <i class="fa fa-map-marker"></i> Sportschool
    </div>
</div>
<div class="row">
    <div ng-repeat="workout in workouts" class="col-md-6 workout-container">
        <div class="workout-inner">
            <a ui-sref="workoutItem({id: workout.id})" class="workout-item">
                <div class="col-md-2 date text-center">
                    23<br>jul
                </div>
                <div class="col-md-5 info">
                    <table>
                        <tr>
                            <td><i class="fa flaticon-dumbbell"></i></td>
                            <td>{{::workout.exercises}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-refresh"></i></td>
                            <td>{{::workout.sets}}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-map-marker"></i></td>
                            <td>
                                <div class="location">{{::workout.gym}}</div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-5 musclegroups">
                    <div class="head"><i class="fa fa-bars"></i> Spieren beoefend:</div>
                    {{::workout.muscles_used}}
                </div>
                <div class="workout-overlay text-center">
                    <div class="workout-overlay-background">
                        <i class="fa fa-sign-in"></i> <span>Bekijken</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-12 workout-social">
            <a href="#">
                <i class="fa fa-heart"></i>
                {{workout.likes}}
            </a>
            <a href="#">
                <i class="fa fa-comment"></i>
                {{workout.comments}}
            </a>
        </div>
    </div>
</div>