$sub_color: #ABB7B7;
$like_color: #ff878d;

.workout-legend {
  font-size: 13px;

  .fa {
    color: $main_color;
    width: 15px;
    text-align: center;
    padding-top: 4px;
  }
}

.workout-container {
  padding: 10px;

  .workout-inner {
    display: block;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 1px solid #E0E0E0;
    border-left: 1px solid $border_grey;
    border-right: 1px solid $border_grey;

    &:hover .workout-like {
      display: block;
    }

    .workout-item {
      float: left;
      background-color: #FAFAFA;
      color: #434a54;
      padding: 10px;
      display: block;
      overflow: hidden;
      height: 100px;

      &:hover {
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        cursor: pointer;

        .workout-like {
          opacity: 1;
          .fa {
            color: lighten($like_color, 15);
          }
        }
      }
    }

    .workout-link {
      padding: 0;
      height: 100px;
      font-size: 25px;
      background-color: darken(#FAFAFA, 2);

      &:hover {
        background-color: darken(#FAFAFA, 3);
      }

      a {
        color: $main_color;
        &:hover {
          color: darken($main_color, 10);
        }
      }

      i {
        width: 100%;
        text-align: center;
        line-height: 100px;
      }
    }

    .date {
      font-size: 23px;

      .calendar-text {
        top: 6px;
      }

      .fa-stack {
        left: 3px;
      }

      .month {
        font-weight: 700;
        font-size: 20px;
      }
    }

    .head {
      font-weight: 600;
    }

    .info .fa {
      color: $main_color;
      width: 25px;
      text-align: center;
      margin: 2px 5px 0px 0px;
      font-size: 17px;
    }

    table {
      td {
        vertical-align: top;
        padding: 2px 0;
        font-size: 14px;
      }
    }
  }

  .workout-like {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 4px;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    @include transition(opacity);
    background-color: rgba(darken(#FAFAFA, 2), 0.3);

    &.liked {
      opacity: 1!important;

      .fa {
        color: $like_color!important;
      }
    }

    .workout-overlay-background {
      @include background-opacity(lighten($sub_color, 20), 0.5);
      height: 100%;
      width: 100%;
      border-radius: 4px;

      &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
    }

    .fa {
      display: inline-block;
      vertical-align: middle;
      font-size: 38px;
      line-height: 90px;
      color: lighten($like_color, 15);
    }

    span {
      font-weight: 600;
      position: relative;
      top: -12px;
      padding-left: 5px;
    }
  }

  .workout-social {
    font-size: 13px;
    background-color: lighten($sub_color, 22);
    overflow: hidden;
    padding: 5px 10px;
    box-shadow: 0 1px 0 #cfcfcf;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    a {
      color: #434a54;
      margin-right: 15px;

      .fa {
        color: #fff;
        font-size: 16px;
        padding: 0px 3px;
        position: relative;
        top: 1px;
      }

      .fa-heart {
        color: #ff878d;
      }

      .fa-comment {
        color: $sub_color;
      }
    }
  }
}

.exercises {
  .exercise {
    > .col-md-12 {
      padding-left: 0px;
    }
    .jumbotron {
      overflow: hidden;
      .jumbotron-header {
        overflow: hidden;
        background-color: #FAFAFA;
      }
      .sets {
        border-top: 2px solid $main_color;
        font-size: 30px;
        background-color: lighten($sub_color, 20);
      }
      .sets > div {
        border-right: 1px solid $sub_color;
      }
      .sets div {
        float: left;
        .reps, .weight {
          padding: 5px 0px;
          width: 40%;
          text-align: center;
          small {
            font-size: 16px;
            color: $main_color;
            font-weight: 700;
            text-transform: uppercase;
          }
        }
        .multiplier {
          width: 20%;
          text-align: center;
          padding-top: 11px;
          font-size: 20px;
        }
      }
    }
    .number {
      color: #fff;
      margin-top: 15px;
      border-radius: 25px;
      text-align: center;
      padding: 9px 0px;
      width: 50px;
      background-color: $main_color;
    }
    .video {
      margin-top: 15px;
      text-align: center;
      width: 50px;
      a {
        color: #000;
      }
    }
    .info {
      float: left;
      h2 {
        margin: 27px 0px 12px;
      }
      .label {
        margin: 2px 2px;
        letter-spacing: .5;
        font-weight: 600;
        background-color: darken($main_color, 20);
      }
    }
    .photos {
      text-align: right;
      padding-right: 0px;
      .before {
      }
      .after {
        margin-left: 2px;
        border-top-right-radius: 4px;
      }
      img {
        float: right;
        width: calc(50% - 2px);
      }
    }
  }
}

.workout {
  .panel-header {
    border-radius: 3px 3px 0px 0px;
    background-color: lighten($sub_color, 25);
    padding: 10px;
  }

  h3 {
    margin: 0;
  }
}